body {
  background-color: linen;
}
h1 {
  color: black;
  font-family: verdana;
  font-size: 320%;
}
h2 {
  color: black;
  font-family: Palatino Linotype;
  font-size: 260%;
}
p {
  color: black;
  font-family: Palatino Linotype;
  font-size: 120%;
}

body {
  background-color: linen;
}
h3 {
  color: black;
  font-family: Trebuchet MS;
  font-size: 320%;
}
h4 {
  color: black;
  font-family: Trebuchet MS;
  font-size: 160%;
}
